PORT=3000
JWT_SECRET=bla284hde!
DEV_DATABASE_URL=postgres://postgres:your_postgres_password@localhost:5432/db_name
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin!123
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=25
SMTP_USER=apikey
SMTP_PASS=zzz
SENDGRID_EMAIL_RECEIVER=
FRONTEND_URL=localhost:0000