<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hospital Management Doctor Registrationsss</title>
  <style>
    .wrapper {
      font-family: proxima-nova, sans-serif;
      margin: auto;
      text-align: center;
    }
    .wrapper .email-title {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 26px;
      color: #000;
    }
    .wrapper .content {
      font-size: 14px;
      color: #000;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div>
      <img src="https://i.ibb.co/vLb2P8Y/hosp1.jpg" alt="header_img" height="200" width="500">
    </div>
    <div class="email-title">
      Welcome to Hospital Management App
    </div>
    <div class="content">
      Here is your Signup Verification link:
     <div style="margin-top: 8px;">
      <div style="margin-bottom: 1rem;">
        Email: <span style="font-weight: bold;"><%= email %></span>
      </div>
      <button style="font-weight: bold; color: #000;">
        <a target="_blank" href="<%= URL %>" style="text-decoration: none; color: #000;">
          SignUp Link
        </a>
      </button>
     </div>
    </div>
  </div>
  </body>
</html>